/* grandstander-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Grandstander';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/grandstander-v17-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* grandstander-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Grandstander';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/grandstander-v17-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* grandstander-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Grandstander';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/grandstander-v17-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* grandstander-700italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Grandstander';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/grandstander-v17-latin-700italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* grandstander-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Grandstander';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/grandstander-v17-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* grandstander-800italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Grandstander';
  font-style: italic;
  font-weight: 800;
  src: url('../fonts/grandstander-v17-latin-800italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* grandstander-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Grandstander';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/grandstander-v17-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* grandstander-900italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Grandstander';
  font-style: italic;
  font-weight: 900;
  src: url('../fonts/grandstander-v17-latin-900italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-family: DepartureMono-Regular;
  font-style: normal;
  src: url('../fonts/DepartureMono-Regular.woff2') format('woff2');
}

 @font-face {
  font-family: 'Gilbert';
  src: url('../fonts/Gilbert-Color_COLRv0.ttf');
}
.pride {
  font-family: 'Gilbert'!important;
}

html,
body {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  font-family: DepartureMono-Regular,monospace;

}

.container[role=main] {
  /* max-width: $max-content-width; */
  max-width: 888px;
  /* border: 5px solid; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.container[role=contentinfo] {
  /* max-width: $max-content-width; */
  width: 100%;
  /* border: 5px solid; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.social .contact-icons {
    font-size: 3rem;
    margin-bottom: 90px;
}

.clearfix {
  font-size: 200%;
  font-weight: bold;
  display: grid;
  align-content: center;
  margin-bottom: 0rem;
}

.clearfix table td {
    font-size: .9rem;
    font-weight: 300;
    padding: 0 0 0 0;
}

#navbar {
  display: none !important;
}

.nowrap {
  white-space: nowrap;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  /* flex-wrap: wrap; */
  margin-right: -15px;
  margin-left: -15px;
}

.mr-1,
.mx-1 {
  margin-right: 0px !important;
}

.btn {
  padding: 10px 16px;
  font-size: 18px;
  margin: 1px;
  border: 1px solid;
  border-radius: 8px;
  margin: 6px 12px 6px 0;
}

.clearfix p {
  font-family: Grandstander;
  text-align: left;
  font-size: 64px;

}

.profile img {
  position: relative;
  overflow: hidden;
  border-radius: 50% !important;
  width: 300px;
  height: 300px;
  max-width: none;
  background-clip: padding-box;
  object-fit: cover;
  margin: 7px 0 0 5px;
  background-size: cover;
  background-position: center center;
}

/* ############################# */
/* MEDIA definitions */
/* ############################# */

@media (min-width: 1200px) {
  /* .btn {
    padding: 10px 16px;
    font-size: 18px;
  } */

  .profile {
    /* width: 40%; */
    float: right;
    /* margin-left: 40; */
  }

  .profile img {
    float: right !important;
  }

  .clearfix p {
    font-family: Grandstander;
    text-align: left;
    font-size: 47px;
  }
  
  .container {
    width: auto;
  }    
}

@media (min-width: 992px) {
  /* .btn {
    font-size: 14px;
    padding: 8px 12px;
  } */

  .profile {
    /* width: 40%; */
    /* margin-left: 40; */
  }

  .profile img {
    float: top !important;
  }
  .clearfix p {
    font-family: Grandstander;
    text-align: left;
    font-size: 47px;
  }
  
  .container {
    width: auto;
  }
}

@media (min-width: 768px) {
  /* .btn {
    font-size: 12px;
    padding: 6px 12px;
  } */

  .profile {
    /* width: 40%; */
    /* margin-left: 40; */
  }

  .profile img {
    float: top !important;
  }
  .clearfix p {
    font-family: Grandstander;
    text-align: left;
    font-size: 47px;
  }

  .container {
    width: auto;
  }
}
.img-fluid {
  display: none !important;
  }

@media (max-width: 768px) {
  /* .btn {
    font-size: 11px;
    padding: 4px 6px;
  } */

  .clearfix p {
    font-family: Grandstander;
    text-align: left;
    font-size: 47px;
  }

  .profile {
    text-align: center;
    /* width: 40%; */
    /* margin-left: 40; */
  }

  .profile img {
    float: top !important;
  }

  /* .clearfix p {
    text-align: center;
  } */
}

.post article .clearfix .d-flex {
  display: block !important;
}

footer.fixed-bottom {
  position: fixed;
  right: 0;
  bottom: 0px;
}

footer.fixed-bottom a {
  color: #e8e8e8bd;
}

footer.fixed-bottom .container {
  color: #aa66cc;
  background-color: #404040;
  padding-top: 9px;
  padding-bottom: 8px;
  text-align: center;
  min-width: 100%;
}
  