---
layout: default
---
<header class="post-header">
  <link rel="stylesheet" href="{{ '/assets/css/teaching.css' | relative_url | bust_css_cache }}">
</header>

{% if site.rainbow %}
  <div class="post" id="coloredtext">
    <header class="post-header" id="coloredtext">
      <h1 class="post-title" id="coloredtext">{{ page.title }}</h1>
      <p class="post-description" id="coloredtext">{{ page.description }}</p>
    </header>
{% endif %}
  <article>
    {{ content }}
  </article>

  {% if page.related_publications %}
    <h2 id="coloredtext">References</h2>
    <div class="publications" id="coloredtext">
      {% bibliography --cited_in_order %}
    </div>
  {% endif %}

  {% if site.giscus and page.giscus_comments %}
    {% include giscus.liquid %}
  {% endif %}
</div>


